  .top-nav {
    background-color: #61787F;
    border: solid black 1px;
  }
  
 .navbar-nav, .nav-item {
    font-family: oswald;
    font-weight: 300;
    line-height: 59.28px;
    font-size: 40px;
  }
  
  .top-movie-block {
    border: solid black 6px;
    max-width: 835px;
    margin-left: 6.5%;
  }

  .best-movies, .other-movies, .top-movie-title, .top-movie, .best-movies-cat1, .best-movies-cat2 {
    font-family: oswald;
    font-weight: 600;
    line-height: 71.14px;
    font-size: 48px;
  }

  .top-movie-description {
    font-family: oswald;
    font-weight: 200;
    font-size: 28px;
    line-height: 41.5px;
  }

  .details-button {
    border-radius: 25px;
    font-family: oswald;
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
  }

  .form-list {
    font-family: oswald;
    font-weight: 600;
    font-size: 36px;
    line-height: 53.35px;
    width: 404px;
    height: auto;
  }
  